body {
    margin: 0;
    padding: 0;
    background-color: rgba(24, 24, 24, 0.9);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 300px;
    height: 300px;
    background-color: #333;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;   
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}


@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.main::after, .main::before {
    content: '';
    width: inherit;
    height: inherit;
    background-image: conic-gradient(from var(--angle), #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
    z-index: -1;
    padding: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    animation: spin 5s linear infinite;
}

.main::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}

